<%= breadcrumb({title: "Todos os horários", path: time_slots_path}, {title: "Editar horário", path: nil}) %>
<div class="container mx-auto px-4 mt-6">
  <h1 class="text-2xl font-bold mb-4">Edição de horário</h1>
  <%= render "form", time_slot: @time_slot %>

<br>

<div>
  <%= link_to "Detalhes e edições", @time_slot, class: "" %> |
  <%= link_to "Todos os horários", time_slots_path %>
</div>

</div>