<%= breadcrumb({title: "Todos os hor치rios", path: time_slots_path}, {title: "Detalhes do hor치rio", path: nil}) %>
<div class="my-8 mx-auto max-w-md">
  <div class="bg-white p-4 rounded-lg shadow-md">
    <%= render @time_slot %>
  </div>

  <div class="flex items-center justify-between mt-6">
    <%= link_to "Editar este hor치rio", edit_time_slot_path(@time_slot), class: "text-blue-600 hover:text-blue-800" %>
    <%= button_to "Excluir este hor치rio", @time_slot, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
