<div id="appointment-comments-<%= appointment.id %>" class="reschedule-comments">
  <%= render partial: "clinic_management/shared/appointment_comments", 
      locals: { appointment: appointment, message: "" } %>
</div>
