<% case status %>
<% when "agendado" %>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-yellow-600 column-3">
        agendado
    </td>
<% when "remarcado" %>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-orange-600 column-3">
        remarcado
    </td>
<% when "cancelado" %>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-red-600 column-3">
        cancelado
    </td>
<% end %>