<%= breadcrumb({title: "Todas as regiões", path: services_path}, {title: "Editar região", path: nil}) %>
<div class="my-8 mx-auto max-w-md">
  <h1 class="text-2xl font-bold mb-4">Edição de Região</h1>

  <%= render "form", region: @region %>

  <div class="mt-4">
    <%= link_to "Voltar para regiões", regions_path, class: "text-blue-500 hover:underline" %>
  </div>
</div>
