<% if notice %>
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">Notice:</strong>
    <span class="block sm:inline"><%= notice %></span>
  </div>
<% end %>

<h1 class="text-3xl font-bold mb-6">Regiões</h1>
<%= data_table(@rows) %>
<br>
<br>
<div class="mt-2">
  <%= link_to "Nova região", new_region_path, class: "bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded" %>
</div>

