<% content_for :title, "Regiões" %>

<h1 class="text-3xl font-bold mb-6">Regiões</h1>

<!-- Opções de ordenação -->
<div class="my-4 p-4 bg-gray-100 rounded">
  <%= form_with url: regions_path, method: :get, local: true, class: "flex flex-wrap gap-4 items-center" do |f| %>
    
    <div>
      <%= f.label :sort_by, "Ordenar por:", class: "font-semibold mr-2" %>
      <%= f.select :sort_by, 
          options_for_select([
            ["Nome (A-Z)", "name"],
            ["Mais convites primeiro", "invitations_desc"],
            ["Menos convites primeiro", "invitations_asc"]
          ], params[:sort_by]), 
          { include_blank: false },
          { class: "border rounded p-2", onchange: "this.form.submit();" }
      %>
    </div>
    
  <% end %>
</div>

<%= data_table(@rows) %>
<br>

