<!DOCTYPE html>
<html>
<head>
  <title>Ordem na Fila</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    .container {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <span style="font-size: 40px"><b><%= sprintf("%02d", @order_number) %></b></span>
    <p style="font-size: 20px;">Sua ordem da fila</p>
    <p style="font-size: 14px;"><%= Time.now.strftime("%d/%m/%Y, %H:%M") %>h</p>
  </div>
</body>
</html>
