<%= breadcrumb({title: "Lista de hoje", path: index_today_path(@today_service&.appointments)}, {title: @appointment.invitation.patient_name  , path: nil}) %>

<div class="flex flex-col items-center w-full px-1 sm:px-0 py-2">
  <div class="w-full max-w-lg mx-auto space-y-6">
    <div>
      <h2 class="mt-4 sm:mt-6 text-center text-2xl sm:text-3xl font-extrabold text-gray-900">
        Receita para <%= @prescription.appointment.invitation.patient_name %>
      </h2>
    </div>
    <%= render "show_table", prescription: @prescription %>
    <div class="mt-6 flex justify-center">
      <%= link_to("Editar receita", edit_today_appointment_prescriptions_path(@prescription.appointment), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500") %>
    </div>
  </div>
</div>
