<%= breadcrumb({title: "Lista de hoje", path: clinic_management.index_today_appointment_prescriptions_path(@today_service&.appointments)}, {title: @appointment.invitation.patient_name  , path: nil}) %>

<div class="flex flex-col items-center justify-center py-2">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Receita para <%= @prescription.appointment.invitation.patient_name %>
      </h2>
    </div>
    <%= render "show_table", prescription: @prescription %>
    <div class="mt-8">
      <%= link_to("Editar receita", edit_appointment_prescription_path(@prescription.appointment), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500") %>
    </div>
  </div>
</div>
