<div class="p-4 bg-white rounded shadow-md">
    <h5 class="text-lg font-semibold mb-4">Escreva conforme as instruções:</h5>
    <ul class="list-disc list-inside text-gray-700">
        <li>{NOME_COMPLETO_CLIENTE} : nome completo do cliente;</li>
        <li>{PRIMEIRO_NOME_CLIENTE} : primeiro nome do cliente;</li>
    </ul>
</div>
