<div class="p-4 bg-white rounded shadow-md">
    <h5 class="text-lg font-semibold mb-4">Por favor, substitua os seguintes placeholders pelas informações correspondentes:</h5>
    <ul class="list-disc list-inside text-gray-700">
        <li><strong>{NOME_COMPLETO_PACIENTE}</strong> : Substituirá por nome completo do paciente;</li>
        <li><strong>{PRIMEIRO_NOME_PACIENTE}</strong> : Substituirá pelo primeiro nome do paciente;</li>
        <li><strong>{DIA_SEMANA_ATENDIMENTO}</strong> : Substituirá pelo dia da semana do atendimento, por extenso (por exemplo, "Quarta-feira");</li>
        <li><strong>{DATA_DO_ATENDIMENTO}</strong> : Substituirá pela data completa do atendimento (por exemplo, "15/05/23");</li>
        <li><strong>{MES_DO_ATENDIMENTO}</strong> : Substitua pelo dia do atendimento escrito por extenso (por exemplo, "Maio");</li>
        <li><strong>{DIA_ATENDIMENTO_NUMERO}</strong> : Substituirá pelo dia do mês do atendimento, em números (por exemplo, "05");</li>
        <li><strong>{HORARIO_DE_INICIO}</strong> : Substituirá pelo horário de início do atendimento (por exemplo, "13:00");</li>
        <li><strong>{HORARIO_DE_TERMINO}</strong> : Substituirá pelo horário de término do atendimento (por exemplo, "16:30");</li>
    </ul>
    <h5 class="text-lg font-semibold mt-4 mb-2">Funcionalidade de Múltiplas Mensagens Sorteadas:</h5>
    <p>Para incluir múltiplas opções de frases na mensagem, que serão escolhidas aleatoriamente, use colchetes `[]` com opções separadas pelo símbolo `|`. Por exemplo, `[Opção 1|Opção 2|Opção 3]` escolherá aleatoriamente uma das opções.</p>
</div>
