<div>
  <div class="row">
    <div class="col s12">
      <%= form_with(url: build_message_path(lead), method: :post, remote: true, id: "whatsapp_form") do %>
        <div class="input-field">
          <%= select_tag :custom_message_id, 
            grouped_options_for_select(
              get_lead_messages(lead, appointment).map { |category, messages|
                [category, messages.map { |m| [m.name, m.id] }]
              }
            ),
            prompt: "Escolha uma mensagem", 
            class: "browser-default", 
            onchange: "this.form.requestSubmit()" 
          %>
          <%= hidden_field_tag :appointment_id, (appointment.present? ? appointment.id : "") %>
        </div>
      <% end %>
      <div id="whatsapp-link-<%=lead.id%>"></div>
    </div>
  </div>
</div>

<style>
  #custom_message_id {
    width: 100%;
  }
</style>