<div class="my-8">
  <h5 class="text-2xl font-bold">Criar nova mensagem customizada</h5>
</div>

<%= render 'form', message: @message %>

<div class="mt-8">
  <%= link_to 'Voltar', lead_messages_path, class: "px-4 py-2 bg-gray-500 text-white rounded" %>
</div>
