<div class="container mx-auto px-4 mt-6">
  <p class="text-green-500 mb-4"><%= notice %></p>

  <h1 class="text-2xl font-bold mb-6">Atendimentos</h1>

    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
      <%= data_table(@headers, @services) %>
    </div>

  <div class="mt-6">
    <%= link_to "Novo atendimento", new_service_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
