
<%= breadcrumb({title: "Início", path: services_path}, {title: "Convites", path: nil}) %>

<!-- Restante do código da view -->


<div class="container mx-auto px-4 py-8">
  <div class="mb-8">
    <h1 class="text-2xl font-bold text-gray-900">Convites</h1>
    <p class="text-gray-600">Lista de convites e informações relacionadas.</p>
  </div>

  <% if @rows.present? %>
    <div class="overflow-hidden border-gray-200 sm:rounded-lg">
      <%= data_table(@rows, 5) %>
    </div>
  <% else %>
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h2 class="text-xl font-medium text-gray-900">Nenhum convite encontrado.</h2>
        <p class="mt-2 text-sm text-gray-600">Não há convites cadastrados no sistema.</p>
      </div>
    </div>
  <% end %>
</div>


<style>


</style>

<script>
  window.onload = function() {
  var table = document.querySelector('table'); // ajuste o seletor conforme necessário

  Array.from(table.rows).forEach(function(row) {
    var widths = Array.from(row.cells).map(function(cell) {
      return cell.offsetWidth;
    });

    Array.from(row.cells).forEach(function(cell, index) {
      if (cell.classList.contains('sticky')) {
        cell.style.position = 'sticky';
        cell.style.left = widths.slice(0, index).reduce((a, b) => a + b, 0) + 'px';
        cell.style.backgroundColor = 'white'; // para garantir que a célula seja visível sobre as outras células
        cell.style.borderBottom = '1px solid #dee2e6'; // adicione uma borda inferior à célula
      }
    });
  });
};


</script>